@import 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	font-family: 'Geomanist', Arial, sans-serif;
	letter-spacing: 1px;
}

nav {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 74px;
	background-color: $green;

	.navigation-bar {
		width: 1029px;
		font-size: 16px;
		padding: 0 24px;
		margin: 0 auto;
	}

	.brand {
		float: left;
	}

	.link {
		color: $white;
		text-decoration: none;
		font-weight: bold;
		transition: 0.3s;
		padding: 0 15px;
	}

	.myicon {
		padding-right: 17px;
		font-size: 19px;
	}

	.myheart {
		font-size: 19px;
	}

	.button {
		height: 44px;
		width: 180px;
		border: 4px solid $white;
		border-radius: 3px;
		transition: 0.6s;
	}

	.navigation-links {
		float: right;
	}

	.link:hover {
		color: $grey;
	}

	.button:hover {
		background-color: $green;
		color: $white;
	}
}

main {
	position: relative;
	top: 74px;
}

.search-section {
	display: flex;
	justify-content: center;
	height: 200px;
	background-color: $lightgrey;

	.search-content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 55px;
		height: 76px;
		background-color: $white;
		border-radius: 2px;
	}

	.search-bar {
		padding: 5px 20px;
		margin-right: 5px;
		width: 600px;
		height: 30px;

		.search-icon1 {
			padding: 0 20px;
			font-size: 22px;
		}
	}

	input {
		width: 400px;
	}

	.search-local {
		width: 300px;
		height: 30px;
		margin-right: 5px;
		padding-top: 5px;
	}

	select {
		width: 250px;
	}

	.search-icon {
		padding-left: 7px;
		font-size: 22px;
	}

	.click-search {
		width: 140px;
		height: 76px;
		font-weight: bold;
		border: 0;
		background-color: $white;
		transition: 0.5s;
	}

	.click-search:hover {
		background-color: $green;
		color: $white;
	}

	input,
	select {
		border-color: transparent;
	}
}

.categories-section {
	position: relative;
	display: flex;
	justify-content: center;
	height: 700px;
	background-color: $white;

	h2 {
		text-align: center;
		padding: 40px 0;
		font-weight: 800;
	}

	.categories-select {
		position: absolute;
		margin: 150px 0;
		width: 1100px;
	}

	.category {
		height: 75px;
		width: 75px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 80px;
		border-radius: 50%;
		display: inline-flex;
		flex-wrap: wrap;
		background-size: cover;
	}

	.category-name {
		margin-top: 90px;
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 0;
		width: 100px;
		text-align: center;
	}

	.category-name:hover {
		background-color: $green;
		color: $white;
	}
}
